:root {
  --context-menu-box-shadow: rgba(0, 0, 0, 0.2);
  --context-menu-border: #c5c5c5;
  --context-menu-background: #f9f9fb;
  --context-menu-hover-color: var(--el-color-primary);
  --context-menu-hover-background: #dfedfd;

  --chat-list-text-color: #999999;
  --chat-list-hover-background: #d5d3d2;
  --chat-list-active-background: #c9c8c6;
  --chat-list-sticky-background: #e1dedd;

  --chat-message-box-background: #f5f5f5;
  --chat-message-box-self-background: #c9e7ff;
  --chat-message-box-other-background: #ffffff;
  --chat-message-box-reply-background: rgba(255, 255, 255, 0.533);
  --chat-message-input-box-background: #f5f5f5;
  --chat-message-input-background: #ffffff;
}

html.dark {
  --context-menu-box-shadow: rgba(255, 255, 255, 0.2);
  --context-menu-border: #353535;
  --context-menu-background: #1c1b22;
  --context-menu-hover-color: var(--el-color-primary);
  --context-menu-hover-background: #252525;

  --chat-list-text-color: #bbbbbb;
  --chat-list-hover-background: #2a2c2d;
  --chat-list-active-background: #363739;
  --chat-list-sticky-background: #1e2122;

  --chat-message-box-background: #121212;
  --chat-message-box-self-background: #361810;
  --chat-message-box-other-background: #000000;
  --chat-message-box-reply-background: rgba(0, 0, 0, 0.533);
  --chat-message-input-box-background: #0a0a01;
  --chat-message-input-background: #000000;
}
