:root {
  --context-menu-box-shadow: rgba(0, 0, 0, 0.2);
  --context-menu-border: #c5c5c5;
  --context-menu-background: #f9f9fb;
  --context-menu-hover-color: var(--el-color-primary);
  --context-menu-hover-background: #dfedfd;

  --chat-list-text-color: #999999;
  --chat-list-hover-background: #d5d3d2;
  --chat-list-active-background: #c9c8c6;
  --chat-list-sticky-background: #e1dedd;
}

html.dark {
  --context-menu-box-shadow: rgba(255, 255, 255, 0.2);
  --context-menu-border: #353535;
  --context-menu-background: #1c1b22;
  --context-menu-hover-color: var(--el-color-primary);
  --context-menu-hover-background: #252525;

  --chat-list-text-color: #bbbbbb;
  --chat-list-hover-background: #2a2c2d;
  --chat-list-active-background: #363739;
  --chat-list-sticky-background: rgb(30, 33, 34);
}
