@import './variables.scss';
@import './sidebar.scss';

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#app {
  height: 100%;

  .app-wrapper {
    height: 100%;

    .sidebar-container {
      box-shadow: 2px 0 6px 2px rgba(0, 0, 0, .18);
      z-index: 1001;

      .logo {
        height: $headerHeight;
        box-sizing: content-box;
      }

      .sidebar {
        .el-menu {
          border-right: none;
        }
      }
    }

    .app-container {
      .header-container {
        height: $headerHeight;
        box-shadow: 0 2px 6px 2px rgba(0, 0, 0, .08);
      }
    }

  }
}

.expandSidebar {
  .sidebar-container {
    width: $sidebarExpandWidth;
    transition: width 280ms;

    .logo {
      width: $sidebarExpandWidth;
      transition: width 280ms;
    }
    .sidebar {
      transition: width 280ms;
    }
  }
}

.foldSidebar {
  .sidebar-container {
    width: $sidebarFoldWidth;
    transition: width 280ms;

    .logo {
      width: $sidebarFoldWidth;
      transition: width 280ms;
    }

    .sidebar {
      .title-span {
        display: none;
      }

      i.el-icon.el-sub-menu__icon-arrow {
        display: none;
      }
    }
  }
}
