@import './variables.scss';
@import './sidebar.scss';

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#app {
  height: 100%;

  .app-wrapper {
    height: 100%;

    .sidebar-container {
      .logo {
        height: $headerHeight;
      }
    }

    .app-container {
      .header-container {
        height: $headerHeight;
      }
    }

  }
}

.expandSidebar {
  .sidebar-container {
    width: $sidebarExpandWidth;
    transition: width 280ms;

    .logo {
      width: $sidebarExpandWidth;
      transition: width 280ms;
    }
  }
}

.foldSidebar {
  .sidebar-container {
    width: $sidebarFoldWidth;
    transition: width 280ms;

    .logo {
      width: $sidebarFoldWidth;
      transition: width 280ms;
    }
  }
}