@use './variables.scss' as *;

.expandSidebar {
  .sidebar-container {
    width: $sidebarExpandWidth;

    .logo {
      width: $sidebarExpandWidth;
    }
  }
}

.foldSidebar {
  .sidebar-container {
    width: $sidebarFoldWidth;

    .logo {
      width: $sidebarFoldWidth;
    }

    .sidebar {
      .title-span {
        display: none;
      }

      i.el-icon.el-sub-menu__icon-arrow {
        display: none;
      }
    }
  }
}

.sidebar-container {
  transition: width 280ms;
}
