@import './variables.scss';

#app {
  .app-wrapper {

    .sidebar-container {
      overflow-x: hidden;

      .scrollbar-wrapper {
        overflow-x: hidden !important;
      }

      .sidebar {

      }
    }
  }
}

.icon {
  height: 1em;
  width: 24px;
  text-align: center;
  font-size: 18px;
}
