@use './variables.scss' as *;

.expandSidebar {
  .sidebar-container {
    width: $sidebarExpandWidth;
    transition: width 280ms;

    .logo {
      width: $sidebarExpandWidth;
      transition: width 280ms;
    }
    .sidebar {
      transition: width 280ms;
    }
  }
}

.foldSidebar {
  .sidebar-container {
    width: $sidebarFoldWidth;
    transition: width 280ms;

    .logo {
      width: $sidebarFoldWidth;
      transition: width 280ms;
    }

    .sidebar {
      .title-span {
        display: none;
      }

      i.el-icon.el-sub-menu__icon-arrow {
        display: none;
      }
    }
  }
}
